<!DOCTYPE html>
<html lang="vi">

<head>
	<title>Đặt Chỗ - Giao Diện Đặt Chỗ Đa Năng Trực Tuyến</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Đặt Chỗ - Giao Diện Đặt Chỗ Đa Năng Trực Tuyến">

	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')

		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
			var el = document.querySelector('.theme-icon-active');
			if (el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
					const activeThemeIcon = document.querySelector('.theme-icon-active use')
					const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
					const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

					document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
						element.classList.remove('active')
					})

					btnToActive.classList.add('active')
					activeThemeIcon.setAttribute('href', svgOfActiveBtn)
				}

				window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
					if (storedTheme !== 'light' || storedTheme !== 'dark') {
						setTheme(getPreferredTheme())
					}
				})

				showActiveTheme(getPreferredTheme())

				document.querySelectorAll('[data-bs-theme-value]')
					.forEach(toggle => {
						toggle.addEventListener('click', () => {
							const theme = toggle.getAttribute('data-bs-theme-value')
							localStorage.setItem('theme', theme)
							setTheme(theme)
							showActiveTheme(theme)
						})
					})

			}
		})

	</script>

	<!-- Font-Awesome -->
	<link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
	<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet"
		  href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Bootstrap Font Icon CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="../css/all.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">

</head>

<body>

<!-- Header START -->
<header class="navbar-light header-sticky" th:insert="~{fragments/viewers/_header :: header}"></header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

	<!-- =======================
Main banner START -->
	<section>
		<div class="container">
			<div class="row mb-5">
				<div class="col-xl-10 mx-auto text-center">
					<!-- Title -->
					<h1>Khám Phá Thế Giới Thú Cưng Với Chúng Tôi</h1>
					<p class="lead">Chúng tôi giúp bạn tìm kiếm và nhận nuôi thú cưng phù hợp với nhu cầu của bạn.
						Chúng tôi cam kết mang đến những lựa chọn tốt nhất cho bạn và thú cưng của bạn.</p>
					<!-- Meta -->
					<div class="hstack gap-3 flex-wrap justify-content-center">
						<!-- Item -->
						<h6 class="bg-mode shadow rounded-2 fw-normal d-inline-block py-2 px-4">
							<img src="https://booking.webestica.com/assets/images/element/06.svg"
								 class="h-20px me-2" alt="">
							14K+ Khách Hàng Toàn Cầu
						</h6>

						<!-- Item -->
						<h6 class="bg-mode shadow rounded-2 fw-normal d-inline-block py-2 px-4">
							<img src="https://booking.webestica.com/assets/images/element/07.svg"
								 class="h-20px me-2" alt="">
							10K+ Khách Hàng Hạnh Phúc
						</h6>

						<!-- Item -->
						<h6 class="bg-mode shadow rounded-2 fw-normal d-inline-block py-2 px-4">
							<img src="https://booking.webestica.com/assets/images/element/08.svg"
								 class="h-20px me-2" alt="">
							1M+ Người Đăng Ký
						</h6>
					</div>
				</div>
			</div> <!-- Row END -->

			<!-- Image START -->
			<div class="row g-4 align-items-center">
				<!-- Image -->
				<div class="col-md-6">
					<img src="https://booking.webestica.com/assets/images/about/02.jpg" class="rounded-3" alt="">
				</div>

				<div class="col-md-6">
					<div class="row g-4">
						<!-- Image -->
						<div class="col-md-8">
							<img src="https://booking.webestica.com/assets/images/about/03.jpg" class="rounded-3"
								 alt="">
						</div>

						<!-- Image -->
						<div class="col-12">
							<img src="https://booking.webestica.com/assets/images/about/04.jpg" class="rounded-3"
								 alt="">
						</div>
					</div>
				</div>
			</div>
			<!-- Image END -->
		</div>
	</section>
	<!-- =======================
Main banner END -->

	<!-- =======================
About content START -->
	<section class="pt-0 pt-lg-5">
		<div class="container">
			<!-- Content START -->
			<div class="row mb-4 mb-md-5">
				<div class="col-md-10 mx-auto">
					<h3 class="mb-4">Câu Chuyện Của Chúng Tôi</h3>
					<p class="fw-bold">Pet-Finder được thành lập vào năm 2024 với sứ mệnh cao cả và đầy ý nghĩa: tạo ra một cầu nối vững chắc giữa các thú cưng cần tìm một mái ấm yêu thương và những cá nhân, gia đình sẵn sàng mở rộng trái tim và ngôi nhà của họ. Chúng tôi không chỉ đơn thuần là một nền tảng kết nối mà còn là một cộng đồng gắn bó, nơi mà mỗi thú cưng đều được tôn trọng và mỗi người nhận nuôi đều được nâng niu và chăm sóc tận tình.</p>
					<p class="mb-3">Ngay từ những ngày đầu, chúng tôi đã xác định rằng thành công của Pet-Finder không chỉ nằm ở việc giúp các thú cưng tìm được gia đình mới, mà còn ở khả năng cung cấp một dịch vụ toàn diện và đầy nhân văn. Đội ngũ của chúng tôi bao gồm các chuyên gia chăm sóc thú cưng, bác sĩ thú y, và các tình nguyện viên tận tâm, tất cả đều cam kết làm việc không ngừng để mang lại những kết quả tốt nhất cho cả thú cưng và các gia đình nhận nuôi. Chúng tôi tổ chức các buổi tư vấn cá nhân, đào tạo và giáo dục về việc chăm sóc thú cưng, và thường xuyên cập nhật thông tin về các thú cưng cần được nhận nuôi.</p>
					<p class="mb-3">Chúng tôi luôn đặt lợi ích của thú cưng lên hàng đầu. Mỗi thú cưng trên nền tảng của chúng tôi đều được kiểm tra sức khỏe kỹ lưỡng và được chăm sóc cẩn thận trước khi được giới thiệu đến các gia đình. Chúng tôi tin rằng một sự chuẩn bị kỹ lưỡng là yếu tố then chốt để đảm bảo rằng mỗi cuộc kết nối đều thành công và mang lại niềm vui bền lâu. Đội ngũ của chúng tôi sẵn sàng hỗ trợ bạn trong suốt quá trình, từ việc tư vấn chọn lựa thú cưng phù hợp, đến việc cung cấp các thông tin hữu ích về chăm sóc và giáo dục thú cưng sau khi nhận nuôi.</p>
					<p class="mb-3">Pet-Finder không ngừng mở rộng các dịch vụ và chương trình của mình để đáp ứng nhu cầu ngày càng cao của cộng đồng. Chúng tôi tổ chức các sự kiện kết nối cộng đồng, các buổi hội thảo và các chương trình đào tạo nhằm nâng cao nhận thức về quyền lợi và trách nhiệm khi nuôi thú cưng. Chúng tôi cũng thường xuyên phối hợp với các tổ chức bảo vệ động vật và các nhà tài trợ để đảm bảo rằng nguồn lực và hỗ trợ được phân phối một cách công bằng và hiệu quả.</p>
					<p class="mb-3">Chúng tôi hiểu rằng việc nhận nuôi một thú cưng là một quyết định lớn và có ảnh hưởng lâu dài, không chỉ đến cuộc sống của thú cưng mà còn đến cuộc sống của bạn. Vì vậy, chúng tôi luôn nỗ lực hết mình để đảm bảo rằng mỗi quyết định bạn đưa ra đều được hỗ trợ và tư vấn chu đáo nhất. Chúng tôi cam kết sẽ đồng hành cùng bạn trong từng bước của hành trình, từ việc chọn lựa thú cưng, cho đến việc hòa nhập và chăm sóc cho bạn và thú cưng của bạn.</p>
					<p class="mb-0">Tại Pet-Finder, chúng tôi không chỉ tạo ra một nơi để tìm kiếm thú cưng mà còn xây dựng một cộng đồng đầy tình yêu và sự chia sẻ. Chúng tôi tin rằng mỗi hành động nhỏ của chúng tôi đều góp phần tạo nên một thế giới tốt đẹp hơn cho các thú cưng và các gia đình nhận nuôi. Hãy cùng chúng tôi tạo nên những câu chuyện thành công, những khoảnh khắc hạnh phúc và cùng nhau xây dựng một tương lai tươi sáng cho các thú cưng trên khắp đất nước.</p>
				</div>
			</div>
			<!-- Content END -->

		</div>
	</section>
	<!-- =======================
About content END -->

	<!-- =======================
Team START -->
	<section class="pt-0">
		<div class="container">
			<!-- Title -->
			<div class="row mb-4">
				<div class="col-12">
					<h2 class="mb-0">Thành Viên</h2>
				</div>
			</div>

			<!-- Team START -->
			<div class="row g-4">
				<!-- Team item START -->
				<div class="col-sm-6 col-lg-3">
					<div class="card card-element-hover bg-transparent">
						<div class="position-relative">
							<!-- Image -->
							<img src="https://booking.webestica.com/assets/images/team/03.jpg" class="card-img"
								 alt="">

							<div class="card-img-overlay hover-element d-flex p-3">
								<!-- Category -->
								<div class="btn-group mt-auto">
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-facebook-f text-facebook"></i></a>
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-instagram text-instagram"></i></a>
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-twitter text-twitter"></i></a>
								</div>
							</div>
						</div>
						<!-- Card body -->
						<div class="card-body px-2 pb-0">
							<h5 class="card-title"><a href="#">Đào Đức Dũng</a></h5>
							<span>Leader</span>
						</div>
					</div>
				</div>
				<!-- Team item END -->

				<!-- Team item START -->
				<div class="col-sm-6 col-lg-3">
					<div class="card card-element-hover bg-transparent">
						<div class="position-relative">
							<!-- Image -->
							<img src="https://booking.webestica.com/assets/images/team/04.jpg" class="card-img"
								 alt="">

							<div class="card-img-overlay hover-element d-flex p-3">
								<!-- Category -->
								<div class="btn-group mt-auto">
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-facebook-f text-facebook"></i></a>
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-instagram text-instagram"></i></a>
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-twitter text-twitter"></i></a>
								</div>
							</div>
						</div>
						<!-- Card body -->
						<div class="card-body px-2 pb-0">
							<h5 class="card-title"><a href="#">Lê Quang Thiên</a></h5>
							<span>Team Dev</span>
						</div>
					</div>
				</div>
				<!-- Team item END -->

				<!-- Team item START -->
				<div class="col-sm-6 col-lg-3">
					<div class="card card-element-hover bg-transparent">
						<div class="position-relative">
							<!-- Image -->
							<img src="https://booking.webestica.com/assets/images/team/05.jpg" class="card-img"
								 alt="">

							<div class="card-img-overlay hover-element d-flex p-3">
								<!-- Category -->
								<div class="btn-group mt-auto">
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-facebook-f text-facebook"></i></a>
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-instagram text-instagram"></i></a>
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-twitter text-twitter"></i></a>
								</div>
							</div>
						</div>
						<!-- Card body -->
						<div class="card-body px-2 pb-0">
							<h5 class="card-title"><a href="#">Nguyễn Hoàng Chiến Thuật</a></h5>
							<span>Team Dev</span>
						</div>
					</div>
				</div>
				<!-- Team item END -->

				<!-- Team item START -->
				<div class="col-sm-6 col-lg-3">
					<div class="card card-element-hover bg-transparent">
						<div class="position-relative">
							<!-- Image -->
							<img src="/images/Minh.jpg" class="card-img" alt="Phạm Ngọc Minh">
							<div class="card-img-overlay hover-element d-flex p-3">
								<!-- Category -->
								<div class="btn-group mt-auto">
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-facebook-f text-facebook"></i></a>
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-instagram text-instagram"></i></a>
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-twitter text-twitter"></i></a>
								</div>
							</div>
						</div>
						<!-- Card body -->
						<div class="card-body px-2 pb-0">
							<h5 class="card-title"><a href="#">Phạm Ngọc Minh</a></h5>
							<span>Team Dev</span>
						</div>
					</div>
				</div>
				<!-- Team item END -->

				<!-- Team item START -->
				<div class="col-sm-6 col-lg-3">
					<div class="card card-element-hover bg-transparent">
						<div class="position-relative">
							<!-- Image -->
							<img src="https://booking.webestica.com/assets/images/team/06.jpg" class="card-img"
								 alt="">

							<div class="card-img-overlay hover-element d-flex p-3">
								<!-- Category -->
								<div class="btn-group mt-auto">
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-facebook-f text-facebook"></i></a>
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-instagram text-instagram"></i></a>
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-twitter text-twitter"></i></a>
								</div>
							</div>
						</div>
						<!-- Card body -->
						<div class="card-body px-2 pb-0">
							<h5 class="card-title"><a href="#">Nguyễn Hoà Hưng</a></h5>
							<span>Team Dev</span>
						</div>
					</div>
				</div>
				<!-- Team item END -->

				<!-- Team item START -->
				<div class="col-sm-6 col-lg-3">
					<div class="card card-element-hover bg-transparent">
						<div class="position-relative">
							<!-- Image -->
							<img src="https://booking.webestica.com/assets/images/team/06.jpg" class="card-img"
								 alt="">

							<div class="card-img-overlay hover-element d-flex p-3">
								<!-- Category -->
								<div class="btn-group mt-auto">
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-facebook-f text-facebook"></i></a>
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-instagram text-instagram"></i></a>
									<a href="#" class="btn btn-white mb-0"><i
											class="fa-brands fa-twitter text-twitter"></i></a>
								</div>
							</div>
						</div>
						<!-- Card body -->
						<div class="card-body px-2 pb-0">
							<h5 class="card-title"><a href="#">Nguyễn Thị Kiều Trang</a></h5>
							<span>Team Dev</span>
						</div>
					</div>
				</div>
				<!-- Team item END -->


			</div>
			<!-- Team END -->
		</div>
	</section>
	<!-- =======================
Team END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer th:insert="~{fragments/viewers/_footer :: footer}"></footer>
<!-- =======================
Footer END -->

</body>

</html>